<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>vue-resource</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>vue-resource</h1>
        <a href="javascript:;" class="btn btn-primary" v-on:click="get">Get请求</a>
        <a href="javascript:;" class="btn btn-primary" @click="post">Post请求</a>
        <a href="javascript:;" class="btn btn-primary" @click="jsonp">JSONP请求</a>
        <div>msg:{{msg}}</div>
        <div class="input-group">
            <input type="text" class="form-control" v-model="todoValue">
            <button class="btn btn-info" @click="handleTodolist">提交</button>
        </div>
        <!-- <ul class="list-group">
            <li class="list-group-item" v-for="(item,index) in list">{{item}}</li>
        </ul>  -->
        <ul>
            <todo-item v-bind:content="item" v-for="(item,index) in list"></todo-item>
        </ul>
    </div>
    <script>
        //注册vue全局组件
        Vue.component('TodoItem',{
            props:['content'],
            template: '<li class="list-group-item">{{content}}</li>'
        });
        var app = new Vue({
            el:'#app',
            data:{
                msg: '',
                list: [],
                todoValue:''
            },
            methods: {
                handleTodolist:function(){
                    if(this.todoValue !== ''){
                        this.list.push(this.todoValue);
                    };
                    this.todoValue = '';
                },
                get:function(){
                    this.$http.get('package.json',{
                        params: {
                            userId:'101'
                        },
                        headers: {
                            token: 'abcd'
                        }
                    }).then(res => {
                        this.msg = res.data;
                    },error=>{
                        this.msg = error;
                    });
                },
                post:function(){
                    this.$http.post('http://www.imooc.com/course/AjaxCourseMembers?ids=796',{
                        userId:'102'
                    },{
                        headers:{
                            access_token:'abc'
                        }
                    }).then(res=>{
                        this.msg = res.data;
                    },error=>{
                        this.msg = error;
                    });
                },
                jsonp:function(){
                    this.$http.jsonp('http://www.imooc.com/course/AjaxCourseMembers?ids=796').then(function(res){
                        this.msg = res.data
                    });
                }
            }
        });
    </script>
</body>
</html>
