<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>vue-resource</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <style>
    .activated{color: aqua;font-size: 40px}
    .activated-arr{color: coral;font-size: 32px;}
    </style>
</head>
<body>
    <div id="app" class="container">
        <h1>vue-resource</h1>
        <a href="javascript:;" class="btn btn-primary" v-on:click="get">Get请求</a>
        <a href="javascript:;" class="btn btn-primary" @click="post">Post请求</a>
        <a href="javascript:;" class="btn btn-primary" @click="jsonp">JSONP请求</a>
        <div>msg:{{msg}}</div>
        <div class="input-group">
            <input type="text" class="form-control" v-model="todoValue">
            <button class="btn btn-info" @click="handleTodolist">提交</button>
        </div>
        <!-- <ul class="list-group">
            <li class="list-group-item" v-for="(item,index) in list">{{item}}</li>
        </ul>  -->
        <!-- <ul>
            <todo-item v-bind:content="item"
                        v-for="(item,index) in list">
            </todo-item>
        </ul> -->
        <ul class="list-group">
            <todo-item-part v-bind:content="item" 
                            :index="index"
                            v-for="(item,index) in list"
                            @delete="handleItemDelete"
                            :key=""
            >
            </todo-item-part>
        </ul>
        <div :class="{activated:isActivated}" @click="handleChangeStyle">{{fullName}}</div>
        <div :class="[colorRed]" @click="handleChangeStyle" v-show="show">{{fullName}}</div>
        <div :style="styleColor" @click="handleChangeStyle" v-if="show">{{fullName}}</div>
        <div v-if="show">
            用户名：<input type="text" key="username">
        </div>
        <div v-else>
            邮箱名：<input type="text" key="password">
        </div>
        <table>
            <tbody>
                <!-- <row></row>
                <row></row>
                <row></row> -->
                <tr is="row"></tr>
            </tbody>
        </table>
        <div ref="hello" @click="handleClick">hello world</div>
        <Counter number="0" @change="totalChange"></Counter>
        <Counter number="0" @change="totalChange"></Counter>
        <div>{{total}}</div>
    </div>
    <script>
        //注册vue全局组件
        //全局注册往往是不够理想的。比如，如果你使用一个像 webpack 这样的构建系统，
        //全局注册所有的组件意味着即便你已经不再使用一个组件了，它仍然会被包含在你最终的构建结果中。
        //这造成了用户下载的 JavaScript 的无谓的增加。
        // Vue.component('TodoItem',{
        //     props:['content'],
        //     template: '<li class="list-group-item">{{content}}</li>'
        // });

        //全局组件，不需要在根实例里面注册
        Vue.component('row',{
            data:function(){
                return {
                    content:'this is content'
                }
            },
            template: '<tr><td>{{content}}</td></tr>'
        });

        //局部组件
        var TodoItemPart = {
            props: ['content','index'],
            template: '<li @click="handleItem">{{content}}</li>',
            methods: {
                handleItem:function(){
                    this.$emit('delete',this.index);
                }
            }
        };

        var Counter = {
            props:['number'],
            data:function(){
                return {
                    countNum:this.number
                }
            },
            template:'<div @click="counterInc">{{countNum}}</div>',
            methods:{
                counterInc:function(){
                    this.countNum++;
                    this.number = this.countNum
                    console.log(this.countNum)
                    this.$emit('change',this.countNum);
                }
            }
        }

        //template 模版占位符，不会在页面中渲染。
        //除了数组可以使用v-for循环，对象也可以使用

        var app = new Vue({
            el:'#app',
            components: {
                TodoItemPart: TodoItemPart,
                Counter: Counter
            },
            data:{
                msg: '',
                list: [],
                todoValue:'',
                firstName:'Young',
                lastName:'Corner',
                isActivated:false,
                colorRed:'activated-arr',
                styleColor:{
                    color:"red",
                    fontSize:"50px"
                },
                total:0,
                show:false
            },
            computed:{
                fullName:{
                    get: function(){
                        return this.firstName+' '+this.lastName;
                    },
                    set: function(value){
                        var arr = value.split(' ');
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    }
                }
            },
            //计算属性，当他所依赖的值发生变化时，计算属性才会改变
            methods: {
                totalChange:function(number){
                    console.log(number)
                    this.total = number+number
                },
                handleClick:function(){
                    console.log(this.$refs.hello);
                },
                handleChangeStyle:function(){
                    this.isActivated = this.isActivated == false ? true : false;
                    console.log((!(~+[]) + {})[--[~+""][+[]] * [~+[]] + ~~!+[]] + ({} + [])[[~!+[]] * ~+[]]);
                },
                handleTodolist:function(){
                    if(this.todoValue !== ''){
                        this.list.push(this.todoValue);
                    };
                    this.todoValue = '';
                },
                handleItemDelete:function(index){
                    this.list.splice(index,1)
                },
                get:function(){
                    this.$http.get('package.json',{
                        params: {
                            userId:'101'
                        },
                        headers: {
                            token: 'abcd'
                        }
                    }).then(res => {
                        this.msg = res.data;
                    },error=>{
                        this.msg = error;
                    });
                },
                post:function(){
                    this.$http.post('http://www.imooc.com/course/AjaxCourseMembers?ids=796',{
                        userId:'102'
                    },{
                        headers:{
                            access_token:'abc'
                        }
                    }).then(res=>{
                        this.msg = res.data;
                    },error=>{
                        this.msg = error;
                    });
                },
                jsonp:function(){
                    this.$http.jsonp('http://www.imooc.com/course/AjaxCourseMembers?ids=796').then(function(res){
                        this.msg = res.data
                    });
                }
            }
        });
    </script>
</body>
</html>
